// Define variables
$cta-bg-color: #04316a;
$cta-text-color: #fff;
$cta-btn-bg-color: #fff;
$cta-btn-text-color: #121212;
$cta-btn-hover-bg-color: darken($cta-btn-bg-color, 10%);
$cta-btn-hover-text-color: lighten($cta-btn-text-color, 10%);
$cta-border-radius: 0px;

.block-editor-block-list__block.wp-block-rrze-elements-cta {
    background-color: $cta-bg-color;
    color: $cta-text-color;
    border-radius: $cta-border-radius;
    position: relative;
    margin: 2em 0;

    .cta-content {
        margin-bottom: 20px;
        padding: 4em 2em 8em 6.5em;
        flex-basis: 60%;
        flex-grow: 1;
        flex-shrink: 0;

        .cta-title {
            font-size: 2.6em;
            font-weight: bold;
            display: block;
            line-height: 1.5;
        }

        .cta-subtitle {
            font-size: 1.3em;
            display: block;
            line-height: 1.5;
            margin-top: .25em;
        }
    }

    .cta-button-container, .rrze-elements-cta.cta-search-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 6.5em 2em 6.5em;
        padding-right: 4em;
        padding-left: 4em;
        display: flex;
        justify-content: flex-end;
        right: 0;
        a.cta-button {
            background-color: $cta-btn-bg-color;
            color: $cta-btn-text-color;
            right: 0;
            max-width: 100%;
            font-size: 1.25em;
            padding: .65em 1.5em .65em 2.5em;
            display: inline-block;
            box-shadow: none;
            text-decoration: none;
            font-weight: bold;
            border-radius: $cta-border-radius;

            svg {
                margin-left: 10px;
            }

            &:hover {
                background-color: $cta-btn-hover-bg-color;
                color: $cta-btn-hover-text-color;
            }
        }
    }
}
