/*!
 * Accordion
 */

div.wp-block-rrze-elements-collapsibles {

    h1.accordion-heading,
    h2.accordion-heading,
    h3.accordion-heading,
    h4.accordion-heading,
    h5.accordion-heading,
    h6.accordion-heading {
        width: auto;
        padding: 0;
        margin: 0;
        border: none;
        text-align: left;
    }

    button.accordion-toggle {
        width: 100%;
        border: none;
        text-align: left;
        margin: 0;
    }

    button.expand-all.standard-btn {
        margin: 5px 0;
        float: none;
    }

    .button-container-right {
        text-align: right;
    }

    .button-container-left {
        text-align: left;
    }

    .accordion {
        .accordion {
            margin: 0;
        }

        .accordion-register {
            padding-left: 0;
            margin: 0 0 .5em;
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;

            li {
                float: left;
                list-style-type: none;
                padding: .25em .5em;
            }
        }

        .accordion-suffix {
            font-weight: bold;
        }

        .accordion-group {
            border: none;
            margin-bottom: 5px;
        }

        .accordion-toggle,
        .accordion-toggle h2 {
            display: block;
            background: none;
            font-size: var(--FAU-H-Heading-4, 1.25rem);
            font-weight: 700;
            // min max line height at least 1.5 maximum 26px
            line-height: min(1.5, 26px);
            letter-spacing: 2%;
            font-family: 'Sans Source Pro', sans-serif;
            color: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
            text-decoration: none;
            padding: var(--FAU-Spacing-6x, 1.5rem) var(--FAU-Spacing-05x, 0.125rem) var(--FAU-Spacing-6x, 1.5rem) 0;
            border-top: 1px solid var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
            position: relative;
            padding-right: 80px;

            &:before {
                position: absolute;
                top: calc(30% - .5em);
                transition: top 0.3s ease-in-out;
                right: 12px;
                background: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
                padding: 0.75rem;
                color: #fff;
                font-size: 1rem;
                @extend .fas !optional;
                @extend .fa-chevron-down !optional;
            }

            &:hover,
            &:focus,
            &.active {
                text-decoration: none;
                // background-color: var(--color-primary-ci-hell, $colorDefault);
                // color: var(--color-primary-ci-hell-kontrast, #fff);

                &:before {
                    position: absolute;
                    top: calc(35% - .5em);
                    transition: top 0.3s ease-in-out;
                    right: 12px;
                    background: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
                    padding: 0.75rem;
                    color: #fff;
                    font-size: 1rem;
                    @extend .fas !optional;
                    @extend .fa-chevron-down !optional;
                }

                .alert.font-light & {
                    * {
                        color: var(--color-primary-ci-hell-kontrast, #fff);
                    }
                }

            }

            &.active {
                &:before {
                    position: absolute;
                    top: calc(30% - .5em);
                    right: 12px;
                    background: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
                    padding: 0.75rem;
                    color: #fff;
                    font-size: 1rem;
                    @extend .fas !optional;
                    @extend .fa-chevron-up !optional;
                }
            }

            &.active:hover,
            &.active:focus {
                border-color: var(--color-primary-dunkler, $colorDefaultDunkler);
                // background-color: var(--color-primary-dunkler, $colorDefaultDunkler);
                // color: var(--color-primary-ci-hell-kontrast, #fff);

                &:before {
                    position: absolute;
                    top: calc(30% - .5em);
                    right: 12px;
                    background: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
                    padding: 0.75rem;
                    color: #fff;
                    font-size: 1rem;
                    @extend .fas !optional;
                    @extend .fa-chevron-up !optional;
                }
            }

            svg.rrze-elements-icon {
                margin-right: 3px;
            }

            span[class^="fa"] {
                margin-right: 1ch;
                // border-right: 1px solid #04316a;
                // padding-right: 1ch;
            }

            .alert.font-light & {
                color: var(--color-Text, #444);

                * {
                    color: var(--color-Text, #444);
                }

                &:hover,
                &:focus,
                &.active {
                    color: var(--color-primary-ci-hell-kontrast, #fff);
                }
            }

        }

        .accordion-group.phil {
            .accordion-toggle,
            .accordion-toggle h2 {

                &:before {
                    background: var(--FAU_Col_Phil-Gelb_100, #FDB735);
                    color: #000;
                }
            }
        }

        .accordion-group.rw {
            .accordion-toggle,
            .accordion-toggle h2 {

                &:before {
                    background: var(--FAU_Col_RW-Dunkelrot_100, #971b2f);
                    color: #fff;
                }
            }
        }

        .accordion-group.med {
            .accordion-toggle,
            .accordion-toggle h2 {

                &:before {
                    background: var(--FAU_Col_Med-Blau_100, #18b4f1);
                    color: #000;
                }
            }
        }

        .accordion-group.nat {
            .accordion-toggle,
            .accordion-toggle h2 {

                &:before {
                    background: var(--FAU_Col_Nat-Gruen_100, #7bb725);
                    color: #000;
                }
            }
        }

        .accordion-group.tf {
            .accordion-toggle,
            .accordion-toggle h2 {

                &:before {
                    background: var(--FAU_Col_TF-Metallic_100, #8c9fb1);
                    color: #000;
                }
            }
        }

        .accordion-body {
            display: block; // none;
            overflow: hidden;

            .accordion-inner {
                @extend .clearfix !optional;
                border: none;
                background-color: #fff;
                padding: 0;
                padding-bottom: var(--FAU-Spacing-6x, 1.5rem);

                .alert.font-light & {
                    color: var(--color-Text, #222);

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    p,
                    li,
                    a,
                    span,
                    blockquote,
                    code,
                    pre,
                    th,
                    td,
                    strong,
                    em {
                        color: var(--color-Text, #222);
                    }
                }
            }
        }
    }

    .fau-theme {
        .accordion-toggle {
            @include border-radius(var(--border-radius, 4px));
        }

        .accordion-body {
            .accordion-inner {
                background-color: #f5f7f9;
                //@include border-bottom-radius(4px);
            }
        }

        .accordion-group .accordion-body .accordion-inner {
            .accordion-inner {
                background-color: darken(#f5f7f9, 4%);
            }
        }
    }

    @media print {
        .accordion {
            position: relative;
            display: block;
            overflow: visible;
        }

        .accordion-group,
        .accordion-body,
        .accordion-inner,
        .accordion-inner p {
            position: relative;
            display: block !important;
            page-break-inside: avoid;
            break-inside: avoid;
            overflow: visible;
        }

        button.expand-all.standard-btn {
            display: none;
        }

        h3.accordion-heading,
        h4.accordion-heading {
            margin-bottom: 0 !important;
        }
    }

    // read mode
    .read-mode-only {
        display: none;
    }

    #content main .accordion-body:target,
    .admin-bar #content main .accordion-body:target {
        padding-top: 0;
        background-color: cornflowerblue;
    }
}

#content main .wp-block-rrze-elements-collapsibles .accordion-toggle:target {
    padding-top: var(--FAU-Spacing-6x, 1.5rem);
}

#content div.wp-block-rrze-elements-accordions {
    margin-left: 1rem;
    border-left: 8px solid #04316a;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    div.accordion-body {
        padding-top: 0;
    }
}