.rrze--counter-element {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 0.15rem;
}

@media (min-width: 992px) {
    .rrze--counter-element {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.15rem;
    }
}

dl.rrze-elements-counter {
    dd {
        margin-left: 0;
        padding-left: 0;
    }
}

dt {

    span.fau-counter-data.rrze-counter-normal {
        font-size: var(--wp--preset--font-size--normal, 1rem);
    }

    span.fau-counter-data.rrze-counter-medium {
        font-size: var(--wp--preset--font-size--medium, 1.25rem);
    }

    span.fau-counter-data.rrze-counter-large {
        font-size: var(--wp--preset--font-size--large, 4rem);
    }
}

.rrze--counter-element-container {
    background-color: var(--color-primary-basis, #04316a);
    color: #fff;
    border: 1px solid var(--color-primary-basis, #04316a);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    height: 100%;

    /* Creates spacing between the boxes */
    dl {
        margin: 0.5rem;
    }

    dt {
        a {
            color: #fff;
            text-decoration: none;
        }
    }


    a.standard-btn.ghost-btn {
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
    }

    a.standard-btn.ghost-btn:hover {
        background-color: var(--color-white, #fff);
        color: var(--color-KontrastDunkel, #222);
        border: 1px solid var(--color-primary-basis, #04316a);
    }
}

.is-style-outlined {
    .rrze--counter-element-container {
        background-color: var(--color-white, #fff);
        color: var(--color-KontrastDunkel, #222);
        border: 1px solid var(--color-primary-basis, #04316a);
        
        dt {
            a {
                color: var(--color-KontrastDunkel, #222);
            }
        }
    
    
        a.standard-btn.ghost-btn {
            color: var(--color-KontrastDunkel, #222);
        }
        a.standard-btn.ghost-btn:hover {
            color: var(--color-white, #fff);
            background-color: var(--color-primary-basis, #04316a);
            border: 1px solid var(--color-primary-basis, #04316a);
        }
    }
}

// .rrze--counter-element-container:hover {
//     background-color: #fff;
//     color: var(--color-primary-basis, #04316a);
//     border: 1px solid var(--color-primary-basis, #04316a);

//     dt a {
//         color: var(--color-primary-basis, #04316a);
//         text-decoration: none;
//     }

//     dd a.standard-btn.ghost-btn {
//         color: var(--color-primary-basis, #04316a);
//         text-decoration: none;
//     }

//     a.standard-btn.ghost-btn:hover {
//         color: #fff;
//         background-color: var(--color-primary-basis, #04316a);
//         text-decoration: none;
//         margin-top: 1rem;
//     }
// }

.rrze--counter-element-container dt,
.rrze--counter-element-container dd {
    margin: 0;
    /* Resets default margin for clean alignment */
}

// .rrze--counter-element-container dt a {
//     color: #fff;
//     text-decoration: none;
// }

// .rrze--counter-element-container:hover dt a {
//     color: var(--color-primary-basis, #04316a);
//     text-decoration: none;
// }