
dt {

    span.fau-iconbox-data.rrze-counter-normal {
        font-size: var(--wp--preset--font-size--normal, 1rem);
    }

    span.fau-iconbox-data.rrze-counter-medium {
        font-size: var(--wp--preset--font-size--medium, 1.25rem);
    }

    span.fau-iconbox-data.rrze-counter-large {
        font-size: var(--wp--preset--font-size--large, 4rem);
    }
}

.rrze--iconbox-element-container {
    background-color: var(--color-primary-basis, #04316a);
    color: #fff;
    border: 1px solid var(--color-primary-basis, #04316a);
    padding: 0.5rem 1rem;
    height: 100%;

    .rrze-iconbox-icon{
        padding: 1rem;
        align-self: center;
    }

    /* Creates spacing between the boxes */
    dl {
        margin: 0.5rem;
    }

    dt {
        a {
            color: #fff;
            text-decoration: none;
        }
    }


    a.standard-btn.ghost-btn {
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
    }

    a.standard-btn.ghost-btn:hover {
        background-color: var(--color-white, #fff);
        color: var(--color-KontrastDunkel, #222);
        border: 1px solid var(--color-primary-basis, #04316a);
    }
}

.is-style-outlined {
    .rrze--iconbox-element-container {
        background-color: var(--color-white, #fff);
        color: var(--color-KontrastDunkel, #222);
        border: 1px solid var(--color-primary-basis, #04316a);
        
        dt {
            a {
                color: var(--color-KontrastDunkel, #222);
            }
        }
    
    
        a.standard-btn.ghost-btn {
            color: var(--color-KontrastDunkel, #222);
        }
        a.standard-btn.ghost-btn:hover {
            color: var(--color-white, #fff);
            background-color: var(--color-primary-basis, #04316a);
            border: 1px solid var(--color-primary-basis, #04316a);
        }
    }
}

.rrze--iconbox-element-container dt,
.rrze--iconbox-element-container dd {
    margin: 0;
    /* Resets default margin for clean alignment */
}

.fauCustomResearchHighlights {
    display: initial;

    .block-editor-block-list__layout {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        column-gap: 0.15rem;
        row-gap: 0.15rem;
    }
}

.rrze-iconbox-content {
    align-self: center;

    dl {
        padding: 0.75rem 1rem 0.75rem 0;
    }

    dt {
        /*break automatically if words are too long*/
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .manual-hyphens {
        hyphens: manual;
    }
}

.fau-iconbox-data {
    font-weight: bold;
}

.rrze--iconbox-element-container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.rrze-iconbox-icon {
    font-size: 3rem;
}