div.wp-block-rrze-elements-tabs div.rrze-elements-tabs {
  -webkit-print-color-adjust: exact;

  button {
    background: none;
    border: none;
    padding-left: 0;
    margin-left: 0;
    font-size: var(--FAU-H-Heading-4, 1.25rem);
    /**
    transition border-bottom and color
     */
    transition: border-bottom 0.1s ease-in-out, color 0.1s ease-in-out, background 0.1s ease-in-out;
    color: var(--FAU-Col-FAU-Dunkelblau-62_5, #617188);
    cursor: pointer;

    &:hover,
    &:focus,
    &:target {
      background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #DFE2E7);
      color: var(--FAU-Col-FAU-Schwarz-100, #222);
      border: none;
      border-radius: 0;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    }

    &[role=tab] span.focus{
      padding: var(--Spacing-2x, 0.5rem) var(--Spacing-4x, 1rem);
    }
  }

  .manual{
    @media print {
      display: none;
    }
  }

  /* Button with aria-selected true */
  button {
    &[aria-selected="true"] {
      color: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
      border-bottom: 2px solid var(--FAU-Blau-FAU_Col_FAU-Blau, #04316A);
      transition: border-bottom 0.1s ease-in-out, color 0.1s ease-in-out;

      &:hover,
      &:focus,
      &:target {
        color: var(--FAU-Col-FAU-Schwarz-100, #222);
      }
    }
  }

  div.wp-block-rrze-elements-tab {
    border-bottom: none;
    padding-bottom: var(--FAU-Spacing-6x, 1.5rem);
    padding-top: var(--FAU-Spacing-6x, 1.5rem);
    background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #DFE2E7);

    div.alert{
      background-color: var(--FAU-Col-FAU-Weiss-100, #fff);
      color: var(--FAU-Col-FAU-Schwarz-100, #222);
    }

    @media print {
      margin-bottom: 0.5rem;
      background: var(--FAU-Col-FAU-Dunkelblau-12_5, #DFE2E7) !important;
      print-color-adjust: exact;
    }
  }

  margin-bottom: 1em;

  [role="tab"],
  [role="tab"]:focus,
  [role="tab"]:hover {
    position: relative;
    z-index: 2;
    //margin: 0;
    //margin-top: 4px;
    padding: 2px 6px;
    overflow: visible;
    outline: none;
    //font-weight: bold;
  }

  [role="tab"] {
    margin: 0 5px 0 0;

    &[aria-selected="true"] {
      font-weight: bold;
      /*padding: 2px 2px 4px;
      margin-top: 0;
      border-width: 2px;
      border-top-width: 6px;
      border-top-color: rgb(36 116 214);
      border-bottom-color: hsl(220deg 43% 99%);
      background: hsl(220deg 43% 99%);*/
    }

    /*&[aria-selected="false"] {
        border-bottom: 1px solid hsl(219deg 1% 72%);
    }*/
    display: block;
    width: 100%;
    border-radius: 0;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    @media (min-width: 550px) {
      display: inline-block;
      width: auto;
      border-radius: 5px 5px 0 0;
      //padding: 0.5rem 1em;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      top: 1px;
    }

    span.focus {
      display: inline-block;
      margin: 2px;
      padding: 4px 6px;

      & > svg.rrze-elements-icon {
        padding: 0;
        border-radius: 0 !important;
        color: unset;
        margin-right: .4em;
        max-width: 2em;
      }

      .tab-suffix {
        display: inline-block;
        margin-left: .4em;
        font-weight: bold;
      }
    }
  }

  [role="tabpanel"] {
    padding: 1rem;
    min-height: 10em;
    overflow: auto;
    @media (min-width: 550px) {
      //border-radius: 0 0 5px 5px;
    }

    &.is-hidden {
      display: none;
      @media print {
        display: block;
      }
    }

    p {
      //margin: 0;
    }

    figure:first-child {
      margin-top: 0;
    }
  }

  .print-only {
    display: none;
    @media print {
      display: block;
    }
  }
  .hide-in-print {
    @media print {
      display: none !important;
    }
  }
}
