//Compatibility Layer
@use "fau-elemental-compatibility-layer/accordion" as accordion2;
@use "fau-elemental-compatibility-layer/tabs" as tabs2;
@use "fau-elemental-compatibility-layer/alert" as alert2;
@use "fau-elemental-compatibility-layer/cta" as cta2;
@use "fau-elemental-compatibility-layer/infobox";
@use "fau-elemental-compatibility-layer/counter" as counter2;
@use "fau-elemental-compatibility-layer/notice" as notice2;
@use "fau-elemental-compatibility-layer/timeline" as timeline2;
@use "fau-elemental-compatibility-layer/facts";
@use "fau-elemental-compatibility-layer/textcolumn";
@use "fau-elemental-compatibility-layer/insertion";
@use "fau-elemental-compatibility-layer/contentWidthFix";
@use "fau-elemental-compatibility-layer/custom_news";
