.wp-theme-FAU-Elemental {
  div.wp-block-rrze-elements-collapsibles,
  div.alert.alert-default,
  div.alert.alert-success,
  div.alert.alert-warning,
  div.alert.alert-danger,
  div.alert.alert-info,
  div.alert.alert-example,
  div.alert,
  div.wp-block-rrze-elements-notice,
  div.rrze-elements-tabs,
  div.wp-block-rrze-elements-cta,
  div.elements-textcolumns,
  div.wp-block-rrze-elements-timeline,
  section.rrze-elements-news,
  div.wp-block-rrze-elements-columns,
  div.wp-block-rrze-elements-block-contentwidthlimiter {
    margin-inline: auto;
    max-width: var(--small-max-width);
  }

  div.elements-textcolumns,
  div.wp-block-rrze-elements-counter-row,
  div.wp-block-rrze-elements-iconbox-row,
  div.wp-block-rrze-elements-columns,
  div.wp-block-rrze-elements-cta,
  div.wp-block-rrze-elements-counter-row,
  section.facts
  {
    max-width: var(--wide-max-width);
    margin-left: var(--faue_wide-max-width_bleed_minimal_inline-margin);
    margin-right: var(--faue_wide-max-width_bleed_minimal_inline-margin);
  }

  section.facts ul.facts__list{
    max-width: var(--wide-max-width);
  }


}

@media screen and (max-width: 639px) {
  div.elements-textcolumns,
  div.wp-block-rrze-elements-counter-row,
  div.wp-block-rrze-elements-columns {
    padding-left: var(--Spacing-6x);
    padding-right: var(--Spacing-6x);
  }
}
