.wp-theme-FAU-Elemental {
  div.wp-block-rrze-elements-collapsibles,
  div.alert.alert-default,
  div.alert.alert-success,
  div.alert.alert-warning,
  div.alert.alert-danger,
  div.alert.alert-info,
  div.alert.alert-example,
  div.alert,
  div.wp-block-rrze-elements-notice,
  div.rrze-elements-tabs,
  div.wp-block-rrze-elements-cta,
  div.elements-textcolumns,
  div.wp-block-rrze-elements-timeline,
  section.rrze-elements-news,
  div.wp-block-rrze-elements-columns,
  div.wp-block-rrze-elements-block-contentwidthlimiter {
    margin-inline: auto;
    max-width: var(--small-max-width);
  }

  div.elements-textcolumns,
  div.wp-block-rrze-elements-columns,
  div.wp-block-rrze-elements-cta,
  {
    max-width: var(--wide-max-width);
    margin-left: var(--faue_base-max-width_bleed_inline-margin);
    margin-right: var(--faue_base-max-width_bleed_inline-margin);
  }

  div.wp-block-rrze-elements-iconbox-row,
  div.wp-block-rrze-elements-counter-row,
  div.wp-block-rrze-elements-counter-row,
  section.facts{
    margin-left: var(--faue_base-max-width_bleed_inline-margin);
    margin-right: var(--faue_base-max-width_bleed_inline-margin);
  }

  div.wp-block-rrze-elements-iconbox-row,
  div.wp-block-rrze-elements-counter-row,
  div.wp-block-rrze-elements-counter-row,
  section.facts,
  ul.facts,
  .is-style-dark div.wp-block-rrze-elements-iconbox-row,
  .is-style-dark div.wp-block-rrze-elements-counter-row,
  .is-style-dark div.wp-block-rrze-elements-counter-row,
  .is-style-dark section.facts,
  div.wp-block-group-is-layout-constrained div.wp-block-group-is-layout-constrained section.facts,
  div.wp-block-group-is-layout-constrained div.wp-block-group-is-layout-constrained.is-style-dark section.facts,
  {
    max-width: var(--wide-max-width);
    margin-left: var(--faue_wide-max-width_bleed_minimal_inline-margin);
    margin-right: var(--faue_wide-max-width_bleed_minimal_inline-margin);
  }

  div.wp-block-group-is-layout-constrained section.facts,
  div.wp-block-group-is-layout-constrained.is-style-dark section.facts{
    margin: 0 auto;
  }



  section.facts ul.facts__list{
    max-width: var(--wide-max-width);
  }


}

@media screen and (max-width: 639px) {
  div.wp-block-rrze-elements-iconbox-row,
  div.wp-block-rrze-elements-counter-row {
    padding-left: 0;
    padding-right: 0;
    margin-left: var(--faue_fullbleed_inline-margin) !important;
    margin-right: var(--faue_fullbleed_inline-margin) !important;
  }
}
