//ToDo Remove Important statements after content width issue is completed
section.facts ul, section.facts li, section.facts p.facts__text{
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

section.facts ul li span.facts__icon svg,
section.facts ul li span.facts__icon span.material-symbols-outlined{
  height: 60px;
  width: 60px;
  font-size: 60px;
  fill: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
}

section.facts ul {
  display: grid;
  padding-top: var(--spacing-10, 2.5rem);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--spacing-8x, 2rem);
}

div.wp-block-rrze-elements-facts-grid {
  padding-bottom: var(--spacing-10, 2.5rem);
}

section.facts li {
  grid-column: span 3;
}

section.facts {
  max-width: var(--wide-max-width, 1320px) !important;

  p.facts__text {
    padding-top: 0;
    margin-top: 8px;
  }
}

section.facts .wp-block-fau-elemental-fau-meta-headline{
    padding-left: var(--Spacing-2x, 0.5rem) !important;
}

.progress-low div{
  --wp-components-progress-bar-color: green;
  background-color: green;
}

.progress-medium div{
  --wp-components-progress-bar-color: orange;
  background-color: orange;
}

.progress-high div{
  --wp-components-progress-bar-color: red;
  background-color: red;
}

.progress-low, .progress-medium, .progress-high{
  height: 5px !important;
}

/* Tablet breakpoint */
@media screen and (width <= 1440px) {
  section.facts ul {
    grid-template-columns: repeat(8, 1fr);

    padding-left: var(--Spacing-10x, 2.5rem);
    padding-right: var(--Spacing-10x, 2.5rem)
  }

  section.facts li {
    grid-column: span 2;
  }

  section.facts .wp-block-fau-elemental-fau-meta-headline{
    margin-left: var(--Spacing-20x, 5rem) !important;
    padding-left: var(--Spacing-2x, 0.5rem) !important;
  }
}

/* Mobile breakpoint */
@media screen and (width <= 768px) {
  section.facts ul {
    grid-template-columns: repeat(4, 1fr);
    padding-left: var(--Spacing-5x, 1.25rem);
    padding-right: var(--Spacing-5x, 1.25rem);
  }

  section.facts li {
    grid-column: span 2;
  }

  section.facts .wp-block-fau-elemental-fau-meta-headline{
    margin-left: var(--Spacing-10x, 2.5rem) !important;
    padding-left: var(--Spacing-1x, 0.25rem) !important;
  }
}

.is-style-dark{
  section.facts svg.icon {
    color: var(--FAU-Col-FAU-Weiss-100, #fff);
  }

  section.facts {
    padding-top: var(--spacing-10, 2.5rem);
    padding-bottom: var(--spacing-10, 2.5rem);
  }
}

section.facts svg.icon{
  margin-left: -4px;
}

.wp-theme-FAU-Einrichtungen {

  section.facts .wp-block-fau-elemental-fau-meta-headline {
    padding-left: 0 !important;
    margin-left: 0 !important;
    border-top: 1px solid #04316a;
    margin-top: 1rem;
    padding-bottom: 0;
    font-size: 1rem;
  }
  ul.facts__list{
    padding-bottom: 1rem;
    border-bottom: 1px solid #04316a;
    margin-bottom: 1rem;
  }

  ul.facts__list li.facts__item {
    border-right: 1px solid #04316a;

    &:last-of-type {
      border-right: none;
    }

    .wp-block-button.is-style-tertiary a.wp-block-button__link {
      text-align: left;
      background: none;
      padding-left: 0;
      margin-left: 0;
      padding-top: 0;
      color: var(--color-primary-basis, #04316a);
      text-decoration: underline;
      font-size: .9rem;
    }
  }
}
  /* Mobile breakpoint */
  @media screen and (width <= 768px) {
    .wp-theme-FAU-Einrichtungen ul.facts__list li.facts__item {
      &:nth-child(even) {
        border-right: none;
      }
    }
  }



