//ToDo Remove Important statements after content width issue is completed
section.facts ul, section.facts li, section.facts p.facts__text {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

section.facts ul li span.facts__icon svg,
section.facts ul li span.facts__icon span.material-symbols-outlined {
  height: 60px;
  width: 60px;
  font-size: 60px;
  fill: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
}

section.facts ul {
  display: grid;
  padding-top: var(--spacing-10, 2.5rem);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--spacing-8x, 2rem);
}

div.wp-block-rrze-elements-facts-grid {
  padding-bottom: var(--spacing-10, 2.5rem);
}

section.facts li {
  grid-column: span 3;
}

section.facts {
  //max-width: var(--wide-max-width, 1320px) !important;

  p.facts__text {
    padding-top: 0;
    margin-top: 8px;
  }
}

section.facts .wp-block-fau-elemental-fau-meta-headline {
  padding-left: var(--Spacing-2x, 0.5rem) !important;
}

.progress-low div {
  --wp-components-progress-bar-color: green;
  background-color: green;
}

.progress-medium div {
  --wp-components-progress-bar-color: orange;
  background-color: orange;
}

.progress-high div {
  --wp-components-progress-bar-color: red;
  background-color: red;
}

.progress-low, .progress-medium, .progress-high {
  height: 5px !important;
}

/* Tablet breakpoint */
@media screen and (width <= 1440px) {
  section.facts ul {
    grid-template-columns: repeat(8, 1fr);

    padding-left: var(--Spacing-10x, 2.5rem);
    padding-right: var(--Spacing-10x, 2.5rem)
  }

  section.facts li {
    grid-column: span 2;
  }

  section.facts .wp-block-fau-elemental-fau-meta-headline {
    margin-left: var(--Spacing-20x, 5rem) !important;
    padding-left: var(--Spacing-2x, 0.5rem) !important;
  }
}

/* Mobile breakpoint */
@media screen and (width <= 768px) {
  section.facts ul {
    grid-template-columns: repeat(4, 1fr);
    padding-left: var(--Spacing-5x, 1.25rem);
    padding-right: var(--Spacing-5x, 1.25rem);
  }

  section.facts li {
    grid-column: span 2;
  }

  section.facts .wp-block-fau-elemental-fau-meta-headline {
    margin-left: var(--Spacing-10x, 2.5rem) !important;
    padding-left: var(--Spacing-1x, 0.25rem) !important;
  }
}

.is-style-dark {
  section.facts svg.icon {
    color: var(--FAU-Col-FAU-Weiss-100, #fff);
  }

  section.facts {
    padding-top: var(--spacing-10, 2.5rem);
    padding-bottom: var(--spacing-10, 2.5rem);
  }
}

section.facts svg.icon {
  margin-left: -4px;
}

.wp-theme-FAU-Einrichtungen,
.wp-theme-FAU-Techfak,
.wp-theme-FAU-Natfak,
.wp-theme-FAU-RWFak,
.wp-theme-FAU-Philfak,
.wp-theme-FAU-Medfak {
  section.facts .wp-block-fau-elemental-fau-meta-headline {
    padding-left: 0 !important;
    margin-left: 0 !important;
    border-top: 1px solid #04316a;
    margin-top: 1rem;
    padding-bottom: 0;
    font-size: 1rem;
  }

  ul.facts__list {
    padding-bottom: 1rem;
    border-bottom: 1px solid #04316a;
    margin-bottom: 1rem;
  }

  ul.facts__list li.facts__item {
    border-right: 1px solid #04316a;

    &:last-of-type {
      border-right: none;
    }

    .wp-block-button.is-style-tertiary a.wp-block-button__link {
      text-align: left;
      background: none;
      padding-left: 0;
      margin-left: 0;
      padding-top: 0;
      color: var(--color-content-links);
      text-decoration: underline;
      font-size: 1rem;
      font-weight: 500;
    }

    .wp-block-button.is-style-tertiary a.wp-block-button__link {
      display: inline-flex;
      align-items: center;
      gap: .4em;
    }

    /* draw an icon box */
    .wp-block-button.is-style-tertiary a.wp-block-button__link::after {
      content: "";
      inline-size: 1em;
      block-size: 1em;
      /* Use the SVG as a mask so we can color it with currentColor */
      -webkit-mask: url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox=\'0 -960 960 960\'>\
<path d=\"m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z\"/>\
</svg>') no-repeat center / contain;
      mask: url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox=\'0 -960 960 960\'>\
<path d=\"m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z\"/>\
</svg>') no-repeat center / contain;
      background-color: currentColor;
      flex: 0 0 1em;
    }
  }
}

.wp-theme-FAU-Elemental {
  ul.facts__list li.facts__item {
    display: flex;
    flex-direction: column;
    min-block-size: fit-content;

    &::before{
      content: none;
    }

    & > * {
      margin-block: 1rem;
    }

    & > :first-child:not(p) {
      margin-block-start: 0;
    }

    & > :last-child:not(p) {
      margin-block-end: 0;
    }

    & > p {
      margin-block: auto;
    }

    a {
      text-align: left;
      text-wrap: wrap;
    }
  }
}

/* Mobile breakpoint */
@media screen and (width <= 768px) {
  .wp-theme-FAU-Einrichtungen,
  .wp-theme-FAU-Techfak,
  .wp-theme-FAU-Natfak,
  .wp-theme-FAU-RWFak,
  .wp-theme-FAU-Philfak,
  .wp-theme-FAU-Medfak {
    ul.facts__list li.facts__item {
      &:nth-child(even) {
        border-right: none;
      }
    }
  }
}



