.wp-theme-FAU-Elemental div.wp-block-rrze-elements-tabs, .wp-theme-FAU-Elemental div.rrze-elements-tabs {
  button[role=tab] svg {
    height: 1rem;
    width: 1rem;
    margin-right: 1ch;
  }
  div.wp-block-rrze-elements-tab div[role=tabpanel], div[role=tabpanel] {
    background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #dfe2e7);
    color: #000;
    border: none;
    padding: var(--Spacing-6x, 2.5rem);

    & > p,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    {
      margin-top: 0;
      padding-top: 0;
    }
  }

  button[role=tab] {
    border: 0;
    border-radius: 0;
    background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #dfe2e7);
    padding: var(--Spacing-2x, 0.5rem) var(--Spacing-4, 1rem);
  }

  button[role=tab][aria-selected=true] {
    background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #dfe2e7);
    border: 0;
  }

  button[role=tab][aria-selected=false] {
    background-color: var(--FAU-Col-FAU-Schwarz-5, #f2f2f2);
  }

  .primary[role=tabpanel] {
    border: none !important;
  }

  div.wp-block-rrze-elements-tab .is-hidden {
    display: none;
  }
}

.wp-theme-FAU-Elemental .is-style-dark div.wp-block-rrze-elements-tabs, .wp-theme-FAU-Elemental .is-style-dark div.rrze-elements-tabs {
  & p {
    color: var(--FAU-Col-FAU-Schwarz-90, #1a1a1a);
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    color: var(--FAU-Col-FAU-Dunkelblau-100, #04316a);
  }

  & button[role=tab] {
    color: var(--FAU-Col-FAU-Dunkelblau-100, #04316a);

    &:hover, &:focus, &:active {
      color: var(--FAU-Col-FAU-Dunkelblau-100, #04316a);
    }
  }
}
