@import "../_shared/scss/variables";
@import "../_shared/scss/mixins";
@import "../_shared/scss/iconbox";
@import "../_shared/scss/button";

.wp-block-rrze-elements-counter-row {
    // .fauCustomResearchHighlights {
    //     display: initial;

    //     .block-editor-block-list__layout {
    //         display: grid;
    //         grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    //         column-gap: 0.15rem;
    //         row-gap: 0.15rem;
    //     }
    // }

    // .rrze-iconbox-content {
    //     align-self: center;

    //     dl {
    //         padding: 0.75rem 1rem 0.75rem 0;
    //     }

    //     dt {
    //         /*break automatically if words are too long*/
    //         overflow-wrap: break-word;
    //         hyphens: auto;
    //     }

    //     .manual-hyphens {
    //         hyphens: manual;
    //     }
    // }

    dt {
        .fau-iconbox-editor-data.rrze-iconbox-normal {
            font-size: var(--wp--preset--font-size--normal, 1rem);
            font-weight: bold;
        }

        .fau-iconbox-editor-data.rrze-iconbox-medium {
            font-size: var(--wp--preset--font-size--medium, 1.25rem);
            font-weight: bold;
        }

        .fau-iconbox-editor-data.rrze-iconbox-large {
            font-size: var(--wp--preset--font-size--large, 4rem);
            font-weight: bold;
        }
    }

    // .fau-iconbox-data {
    //     font-weight: bold;
    // }

    // .rrze--iconbox-element-container {
    //     padding: 0;
    //     display: grid;
    //     grid-template-columns: 1fr 3fr;
    // }

    // .rrze-iconbox-icon {
    //     font-size: 3rem;
    // }
}