$red : rgb(137, 39, 36);
$text-blue : #337ab7;
$medium-blue : #5bc0de;
$green : #5cb85c;
$dark-grey: #121212;

@import "../_shared/scss/variables";
@import "../_shared/scss/mixins";
@import "../_shared/scss/notice";

.wp-block-rrze-elements-notice {
    // display: block; 
    .notice {
        // border: none;
        // padding-left: 0;

        // h2.wp-block-heading {
        //     margin-top: 0;
        // }

        // display: grid;
        // grid-template-columns: 6em auto;
        // grid-gap: 2em;

        :first-child {
            // align-self:center;

            // .fa-solid {
            //     font-size: 2em;
            //     width: 3em;
            //     text-align: center;
            // }

            span:before {
                aspect-ratio: inherit;
                // display: block;
                // padding: 0.5em;
                // color: #fff;
                // background-color: var(--color-zentral-basis, #04316A);
            }
        
            // span.fa-triangle-exclamation:before {
            //     // background-color: #fad201;
            //     background-color: #ffff00;
            //     color: #121212;
            // }
        }

        :nth-child(2) {
            align-self: top;
            h1, h2, h3, h4, h5, h6 {
                padding-bottom: 0;
            }
            padding-top: 0.5em;
        }
    }

}