@use "../../_shared/scss/base-styles/variables";
@use "../../_shared/scss/base-styles/mixins";

@use "../../_shared/scss/base-styles/accordion";
@use "../../_shared/scss/fau-elemental-compatibility-layer/accordion" as accordion2;
@use "../../_shared/scss/fau-elemental-compatibility-layer/contentWidthFix";

.wp-block-rrze-elements-collapsibles {
	padding-bottom: 2em;
	margin-bottom: 2em;
	// .block-editor-inserter{
	// 	top: 24px;
	// }
	padding-top: 2em;

	div.wp-block-rrze-elements-collapsibles {
		padding-bottom: 0em;
		padding-top: 0em;
		margin-bottom: 0em;
	}

	.accordion-notice {
		margin-bottom: 0.5rem;
	}
}

.accordion-heading .accordion-toggle.active {
	color: #fff;
}

.accordion-heading .accordion-toggle:hover {
	color: #fff;
}

.accordion-heading .accordion-toggle.active input {
	color: #fff;
}

.accordion-heading .accordion-toggle:hover input {
	color: #fff;
}

.accordion-group {
	background-color: #fffe;
}

button.expand-all {
	box-shadow: none;
	transition: -webkit-text-decoration 0.1s ease;
	transition: text-decoration 0.1s ease;
	transition: text-decoration 0.1s ease, -webkit-text-decoration 0.1s ease;
	padding: 0;
	text-decoration: underline;
	color: currentcolor;
	text-decoration-color: currentcolor;
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.15rem;
	display: inline-block;
	font-size: 0.938rem;
	line-height: 1.416rem;
	color: var(--color-button-text);
	background-color: var(--color-button-bg);
	border: none;
	padding: 10px 18px;
	text-decoration: none;
	border-radius: var(--border-radius-buttons, 3px);
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	font-weight: normal;
	margin: 5px 0;
}

.wp-block-rrze-elements-collapsibles {
	.accordion .accordion-toggle {
		display: flex;
  		align-items: center;
		  justify-content: start;

		padding: 2px 35px 2px 10px;
	}

	.accordion .accordion-toggle > span[class*="fa-"] {
		padding-right: 10px;
	}

  .accordion .accordion-toggle span.material-symbols-outlined{
    color: var(--FAU-Col-FAU-Blau-100, #04316a);
    margin-right: 1ch;
  }


}
