@use "../../_shared/scss/variables" as v;
@use "../../_shared/scss/mixins" as m;


/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// @import "../../_shared/scss/variables";
// @import "../../_shared/scss/mixins";
@import "../../_shared/fontawesome/scss/fontawesome";
@import "../../_shared/fontawesome/scss/regular";
@import "../../_shared/fontawesome/scss/solid";
@import "../../_shared/fontawesome/scss/brands";
// @import "../../_shared/scss/accordion";

.wp-block-rrze-elements-collapsibles {
	.block-editor-block-list__layout:last-child {
		padding-bottom: 1.5rem;
	}

	.wp-block-rrze-elements-accordions{
		border-left: 8px solid #04316a;
		padding-left: 1rem;
		margin-top: 1rem;
		.block-editor-block-list__layout:last-child {
			padding-bottom: 0;
		}
	}
}

.wp-block-rrze-elements-collapse .accordion-heading {
	position: relative;

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		top: calc(35% - .5em);
		transition: top 0.3s ease-in-out;
		right: 12px;
		background: var(--FAU-FAU-Blau-FAU_Col_FAU-Blau, #04316A);
		padding: 0.75rem;
		color: #fff;
		font-size: 1rem;
		@extend .fas !optional;
		@extend .fa-chevron-down !optional;
	}
}

.accordion-toggle span[class^="fa"] {
	float: left;
	line-height: 1.5;
}

// read mode
.read-mode-only {
	display: none;
}

.admin-bar #content main .accordion-body:target {
	padding-top: 0;
}

.accordion-body {
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease-in-out;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.accordion-body.active {
	height: auto;
}

.wp-block-rrze-elements-collapse {
	.accordion-heading .components-text-control__input {
		background-color: #fff0;
		border-color: #fff0;
		font-size: inherit;
		padding-bottom: 0;
	}

	.accordion-heading .components-text-control__input:focus {
		// background-color: #fff;
		color: #000;
		border-color: #000;
		font-size: inherit;
		padding-bottom: 0;
	}
}

.rrzeElementsBFakColorSelector.central {
	button {
		background-color: #04316A;
		color: #fff;
	}
}

.accordion-group{
	&.phil{
		.accordion-heading:before{
			background-color: #fdb735;
			color: #000;
		}
	}

	&.rw{
		.accordion-heading:before{
			background-color: #c50f3c;
			color: #fff;
		}
	}

	&.med{
		.accordion-heading:before{
			background-color: #18b4f1;
			color: #000;
		}
	}

	&.nat{
		.accordion-heading:before{
			background-color: #7bb725;
			color: #000;
		}
	}

	&.tf{
		.accordion-heading:before{
			background-color: #7bb725;
			color: #000;
		}
	}
}

.rrzeElementsBFakColorSelector.phil {
	button {
		background-color: #fdb735;
		color: #000;
	}
	.wp-block-rrze-elements-collapse .accordion-heading {
		position: relative;

		p {
			margin-top: 0;
			margin-bottom: 0;
		}

		&:before {
			background-color: #fdb735;
			color: #000;
		}

	}
}

.rrzeElementsBFakColorSelector.rw {
	button{
		background-color: #c50f3c;
		color: #fff;
	}
	.wp-block-rrze-elements-collapse .accordion-heading {
		&:before {
			background-color: #c50f3c;
			color: #fff;
		}
	}
}

.rrzeElementsBFakColorSelector.med {
	.wp-block-rrze-elements-collapse .accordion-heading {
		button{
			background-color: #18b4f1;
			color: #000;
		}
		&:before {
			background-color: #18b4f1;
			color: #000;
		}
	}
}

.rrzeElementsBFakColorSelector.nat {
	button {
		background-color: #7bb725;
		color: #000;
	}
	.wp-block-rrze-elements-collapse .accordion-heading {
		&:before {
			background-color: #7bb725;
			color: #000;
		}
	}
}

.rrzeElementsBFakColorSelector.tf {
	button{
		background-color: #7bb725;
		color: #000;
	}

	.wp-block-rrze-elements-collapse .accordion-heading {
		&:before {
			background-color: #7bb725;
			color: #000;
		}
	}
}

.elements-blocks-icon-selector-display {
	max-width: 3em;
	//background-color: #04316a;
	padding: 0.5em;
	//fill: #fff;
	margin-right: 1em;
	float: right;
	clear: both;
}

.elements-blocks-icon-insideEditor {
	float: left;
	clear: both;
	max-height: 1.5em;
	max-width: 1.5em;
	padding-top: 0.25em;
}

button.is-compact.elements-blocks-icon-Button,
button.is-pressed.elements-blocks-icon-Button {
	font-size: 1.5rem;
	padding: 0.25rem;
	height: 55px;
	width: 55px;

	display: flex;
	align-items: center;
	justify-content: center;
}

// .elements-blocks-input-following-icon {
// 	input {
// 		max-width: 90%;
// 		font-size: 1.25em !important;
// 	}
// }

.rrzeElementsBFakColorSelector {
	border: 1px solid #000;

	button {
		border-radius: 0;
	}
}