div.rrze-elements-blocks-info-card-editor{
  border: 3px solid var(--background-color);
  position: relative;
  width: min(80vw, 95ch);
  min-height: 680px;
}
div.rrze-elements-blocks-info-card-editor::before{
  content:"Card Popover Editor";
  background: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--desktop-text-color);
  padding: .125rem .5rem .25rem;
}

div.rrze-elements-blocks__carousel_feature_card-content
{
  position: relative;
  padding: 32px;
  width: 372px;
  z-index: 1;
  background-color: var(--background-color);
  will-change: transform;
}

.wp-block-rrze-elements-info-card {
    .rrze-elements-blocks__carousel_feature_card_subtitle,
    .rrze-elements-blocks__carousel_feature_card_text,
    .rrze-elements-blocks__carousel_feature_card-content span.progress-limit-desc{
        color: var(--desktop-text-color);
    }

    .rrze-elements-blocks__carousel_feature_card_bg_figure_picture img {
        object-position: var(--desktop-object-position);
    }

    @media (max-width: 1024px) {
        .rrze-elements-blocks__carousel_feature_card_subtitle,
        .rrze-elements-blocks__carousel_feature_card_text,
        .rrze-elements-blocks__carousel_feature_card-content span.progress-limit-desc{
            color: var(--tablet-text-color);
        }
        .rrze-elements-blocks__carousel_feature_card_bg_figure_picture img {
            object-position: var(--tablet-object-position);
        }
    }

    @media (max-width: 734px) {
        .rrze-elements-blocks__carousel_feature_card_subtitle,
        .rrze-elements-blocks__carousel_feature_card_text,
        .rrze-elements-blocks__carousel_feature_card-content span.progress-limit-desc{
            color: var(--mobile-text-color);
        }
        .rrze-elements-blocks__carousel_feature_card_bg_figure_picture img {
            object-position: var(--mobile-object-position);
        }
    }
}
