svg.elements-tabs-icon-modal{
    float: left;
    clear: both;
    width: 2ch;
    height: 2ch;
    padding-right: 2ch;
    border: 1px solid #000;
    padding: 1ch;
}

.elements-tabs-icon-modal-input .components-text-control__input{
    // width: 80%;
    display: inline-block;
}

.components-base-control.elements-tabs-icon-modal-input{
    width: auto;
}

.rrze-elements-tabs-modal-container{
    display: flex;
    flex-wrap: wrap;
}

div.rrze-elements-blocks-info-card-editor{
  border: 3px solid #04316a;
  position: relative;
  width: min(80vw, 95ch);
  min-height: 680px;
}
div.rrze-elements-blocks-info-card-editor::before{
  content:"Card Popover Editor";
  background: #04316a;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .25rem;
  padding-top: .125rem;
}

.wp-block-rrze-elements-info-card {
    .rrze-elements-blocks__carousel_feature_card_subtitle,
    .rrze-elements-blocks__carousel_feature_card_text {
        color: var(--desktop-text-color);
    }

    .rrze-elements-blocks__carousel_feature_card_bg_figure_picture img {
        object-position: var(--desktop-object-position);
    }

    @media (max-width: 1024px) {
        .rrze-elements-blocks__carousel_feature_card_subtitle,
        .rrze-elements-blocks__carousel_feature_card_text {
            color: var(--tablet-text-color);
        }
        .rrze-elements-blocks__carousel_feature_card_bg_figure_picture img {
            object-position: var(--tablet-object-position);
        }
    }

    @media (max-width: 734px) {
        .rrze-elements-blocks__carousel_feature_card_subtitle,
        .rrze-elements-blocks__carousel_feature_card_text {
            color: var(--mobile-text-color);
        }
        .rrze-elements-blocks__carousel_feature_card_bg_figure_picture img {
            object-position: var(--mobile-object-position);
        }
    }
}
