svg.elements-tabs-icon-modal {
    float: left;
    clear: both;
    width: 2ch;
    height: 2ch;
    padding-right: 2ch;
    border: 1px solid #000;
    padding: 1ch;
}

.elements-tabs-icon-modal-input .components-text-control__input {
    // width: 80%;
    display: inline-block;
}

.components-base-control.elements-tabs-icon-modal-input {
    width: auto;
}

.rrze-elements-tabs-modal-container {
    display: flex;
    flex-wrap: wrap;
}

// .is-selected.wp-block-rrze-elements-tab{
//     padding-top: 4em;
//     margin-top: -4em;
// }

.wp-block-rrze-elements-counter-row {
    .fauCustomResearchHighlights {
        display: initial;

        .block-editor-block-list__layout {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));



            gap: 4px;
        }
    }

    @for $i from 1 through 5 {

        &.rrze-elements-column-span-#{$i} {
            .fauCustomResearchHighlights {
                .block-editor-block-list__layout {
                    grid-template-columns: repeat($i, minmax(280px, 1fr));
                }
            }
        }

    }

    dl {
        padding: 0.5rem 1rem;
    }

    dt {
        .fau-counter-editor-data.rrze-counter-normal {
            font-size: var(--wp--preset--font-size--normal, 1rem);
            font-weight: normal;
        }

        .fau-counter-editor-data.rrze-counter-medium {
            font-size: var(--wp--preset--font-size--medium, 1.25rem);
            font-weight: normal;
        }

        .fau-counter-editor-data.rrze-counter-large {
            font-size: var(--wp--preset--font-size--large, 4rem);
            font-weight: normal;
        }
    }

    .fau-counter-data {
        font-weight: bold;
    }

    .rrze--counter-element-container {
        padding: 0;
    }
}