.wp-block-rrze-elements-accordion {
	padding-bottom: 2em;
	margin-bottom: 2em;
	// .block-editor-inserter{
	// 	top: 24px;
	// }
}

.accordion-heading .accordion-toggle.active{
	color: #fff;
}

.accordion-heading .accordion-toggle:hover{
	color: #fff;
}


.accordion-heading .accordion-toggle.active input{
	color: #fff;
}

.accordion-heading .accordion-toggle:hover input{
	color: #fff;
}

.accordion-group{
	background-color: #fffe;
}