@use "../../_shared/scss/fau-elemental-compatibility-layer/contentWidthFix";

ul.facts, ul.facts li, ul.facts p.facts__text{
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

ul.facts li span.facts__icon svg,
ul.facts li span.facts__icon span.material-symbols-outlined{
  height: 60px;
  width: 60px;
  font-size: 60px;
  fill: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
}

ul.facts, ul.facts div div.block-editor-block-list__layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--spacing-8x, 2rem);
}

ul.facts li, .wp-block-rrze-elements-fact {
  grid-column: span 3;
}

ul.facts, .wp-block-rrze-elements-facts-grid {
  max-width: var(--wide-max-width, 1320px) !important;

  p.facts__text {
    padding-top: 0;
    margin-top: 0;
    margin-top: 8px;
  }
}

.wp-block-rrze-elements-facts-grid ul.facts{
  display: block;
}

.is-style-dark .wp-block-rrze-elements-facts-grid ul.facts span.facts__icon span{
  color: #fff;
}

.is-style-dark .wp-block-rrze-elements-facts-grid, .wp-block-rrze-elements-facts-grid{
  padding-bottom: var(--spacing-8x, 2rem);
}


/* Tablet breakpoint */
@media (width <= 1440px) {
  ul.facts, ul.facts div div.block-editor-block-list__layout {
    grid-template-columns: repeat(8, 1fr);
  }

  ul.facts li, .wp-block-rrze-elements-fact {
    grid-column: span 2;
  }
}

/* Mobile breakpoint */
@media (width <= 768px) {
  ul.facts, ul.facts div div.block-editor-block-list__layout {
    grid-template-columns: repeat(4, 1fr);
  }

  ul.facts li, .wp-block-rrze-elements-fact {
    grid-column: span 2;
  }
}

li.facts__item a.is-style-tertiary{
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
}

.is-style-dark li.facts__item a.is-style-tertiary{
  color: var(--FAU-Col-FAU-Weiss-100, #fff);
}
