$red: rgb(137, 39, 36);
$text-blue: #337ab7;
$medium-blue: #5bc0de;
$green: #5cb85c;
$dark-grey: #121212;

@use "../../_shared/scss/base-styles/variables";
@use "../../_shared/scss/base-styles/mixins";
@use "../../_shared/scss/base-styles/notice";
@use "../../_shared/scss/fau-elemental-compatibility-layer/notice" as notice2;
@use "../../_shared/scss/fau-elemental-compatibility-layer/contentWidthFix";

.wp-block-rrze-elements-notice {
  .notice {
    :first-child {
      span:before {
        aspect-ratio: inherit;
      }
    }

    :nth-child(2) {
      align-self: top;

      h1, h2, h3, h4, h5, h6 {
        padding-bottom: 0;
      }

      padding-top: 0.5em;
    }
  }

  div > span.rrze-elements-icon > svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: #fff;
    padding: 2rem;
  }

  .notice div {
    padding: 0;
  }

  .notice > div:first-child {
    padding: 0;
  }

  .notice.notice-attention div.icon-box {
    background-color: #FDDF35;

    svg {
      fill: #000;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .notice > div.icon-container svg {
    padding: initial;
  }

  .notice > div.icon-container {
    padding: 2rem;
  }
}

.wp-block-rrze-elements-notice .notice > div.icon-container {
  padding: 0;
  aspect-ratio: 1/1;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-block-rrze-elements-notice .notice > div.icon-container .rrze-elements-icon {
  text-align: center;

  span {
    font-size: 2rem;
  }
}

.wp-theme-FAU-Elemental .notice > div.icon-container {
  padding: inherit;
  aspect-ratio: initial;
  width: inherit;
  display: initial;
  align-items: initial;
  justify-content: initial;
}

.wp-theme-FAU-Elemental .notice > div.icon-container .rrze-elements-icon {
  text-align: inherit;

  span {
    font-size: 1.5rem;
  }
}

.wp-theme-FAU-Elemental .wp-block-rrze-elements-notice.is-style-attention {
  .notice div {
    padding: initial;
  }

  .notice{
    position: relative;
    padding-top: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;

    .block-editor-inner-blocks .block-editor-block-list__layout :first-child{
      align-self: flex-start;
    }

    .block-editor-inner-blocks .block-editor-block-list__layout {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
    }

    .block-editor-inner-blocks .block-editor-block-list__layout > * {
      margin-block: 0;
    }

    .block-editor-inner-blocks .block-editor-block-list__layout > * + * {
      margin-block-start: var(--Spacing-2x);
    }
  }

  .notice .wp-block-button__link{
    margin-top: var(--Spacing-4x);
    padding: 0 var(--Spacing-4x);
  }

  .notice div.wp-element-button::after{
    top: 0;
  }

  .notice div.icon-container{
    position: absolute;
    top: -24px;
    left: 16px;
    height: 48px;
    width: 48px;
    padding: 0;
    background: #04316a;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      color: #fff;
    }
  }
}

.wp-theme-FAU-Elemental .wp-block-rrze-elements-notice.is-style-attention {
  .wp-block-heading {
    margin-left: 0;
  }
}

.wp-theme-FAU-Elemental .is-style-dark .wp-block-rrze-elements-notice.is-style-attention{
  .notice > div:first-child.icon-container{
    background-color: var(--FAU-Col-FAU-Dunkelblau-100);
  }
}
