/*!
 * Absatzklassen
 */

.notice {
  display: block;
  margin: 20px 0;
  padding-left: 40px;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    padding-top: 0;
  }

  p,
  ul,
  ol {
    margin-bottom: .3em;

    .alert & {
      margin-bottom: 0;
    }
  }

  .alert & {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  svg.rrze-elements-icon {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30px;
  }
}


.notice-alert,
.notice-attention {
  svg.rrze-elements-icon {
    fill: $red !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $red;
  }

  &.no-title p {
    color: $red;
    font-weight: bold;
  }
}

.notice-hinweis {
  svg.rrze-elements-icon {
    fill: $text-blue !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-blue;
  }

  &.no-title p {
    color: $text-blue;
    font-weight: bold;
  }
}

.notice-baustelle {
  svg.rrze-elements-icon {
    fill: $dark-grey !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-grey;
  }

  &.no-title p {
    color: $dark-grey;
    font-weight: bold;
  }
}

.notice-question {
  svg.rrze-elements-icon {
    fill: $medium-blue !important;
  }
}

.notice-minus {
  svg.rrze-elements-icon {
    fill: $red !important;
  }
}

.notice-plus {
  svg.rrze-elements-icon {
    fill: $green !important;
  }
}

.notice-tipp {
  svg.rrze-elements-icon {
    fill: orange !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-grey;
  }

  &.no-title p {
    color: $dark-grey;
    font-weight: bold;
  }
}

.notice-download {
  svg.rrze-elements-icon {
    fill: $medium-blue !important;
  }
}

.notice-faubox {
  svg.rrze-elements-icon {
    fill: $medium-blue !important;
  }
}

.notice-audio {
  svg.rrze-elements-icon {
    fill: $medium-blue !important;
  }
}

.notice-video {
  svg.rrze-elements-icon {
    fill: $medium-blue !important;
  }
}

.notice-thumbs-up {
  svg.rrze-elements-icon {
    fill: $green !important;
  }
}

.notice-thumbs-down {
  svg.rrze-elements-icon {
    fill: $red !important;
  }
}

// .wp-block-rrze-elements-notice{
//     display:grid;
//     grid-template-columns: 3em 1fr;
//     grid-gap: 1em;

//     :first-child {
//         align-self: center;
//         span:before {
//             font-size: 1.5em;
//             padding: 0.5em;
//             background-color: red;
//             color: white;
//         }
//     }
// }

.wp-block-rrze-elements-notice {
  display: block;

  .notice {
    border: none;
    padding-left: 0;

    h2.wp-block-heading {
      margin-top: 0;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;

    @media screen and (min-width: 300px) {
      grid-template-columns: 6em auto;
    }

    @media screen and (min-width: 600px) {
      grid-gap: 2em;
    }

    svg.icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    > div:first-child {
      color: var(--color-primary-basis-kontrast, #fff);
      background-color: var(--color-primary-basis, #04316A);
      padding: 1em 0.5em;
    }

    :first-child {
      align-self: center;

      .fa-solid {
        font-size: 1.5em;
        width: 3em;
        text-align: center;
      }

      span:before {
        display: block;
        color: var(--color-primary-basis-kontrast, #fff);
        background-color: var(--color-primary-basis, #04316A);
        aspect-ratio: 1/1;
        padding: 1em 0.5em;
      }

      span.fa-triangle-exclamation:before {
        // background-color: #fad201;
        background-color: #ffff00;
        color: #121212;
      }
    }

    div:nth-child(2) {
      align-self: top;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-bottom: 0;
      }

      border-top: none;
      @media screen and (min-width: 300px) {
        border-top: 3px solid var(--color-primary-basis, #04316A);
      }

      padding-top: 0.5em;
    }
  }

  .notice .icon-box > svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: #fff;
  }

  .notice .icon-box {
    padding: 2rem;
  }

  .notice > div:first-child.icon-box {
    padding: 2rem;
  }

  .notice.notice-attention div.icon-container {
    background-color: #FDDF35;

    svg {
      fill: #000;
    }
  }

  .wp-block-rrze-elements-notice .notice :first-child.icon-box .fa-solid {
    width: inherit;
    height: inherit;
  }

  .notice.notice-attention div.icon-box {
    background-color: #FDDF35;

    svg, use {
      fill: #000;
      color: #000;
    }
  }

  .notice div.icon-box {
    padding: 2rem;
  }

  .notice div.icon-box svg {
    height: 1.25rem;
    width: 1.25rem;
  }

}

.wp-theme-FAU-Einrichtungen,
.wp-theme-FAU-Techfak,
.wp-theme-FAU-Natfak,
.wp-theme-FAU-RWFak,
.wp-theme-FAU-Philfak,
.wp-theme-FAU-Medfak {
  div.wp-block-rrze-elements-notice div.notice {
    div.icon-box {
      padding: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      width: 90px;

      svg.icon {
        height: 2rem;
        width: 2rem;
      }

      .wp-block-heading {
        color: var(--color-primary-ci-hell-kontrast, #000);
      }
    }
  }
}


