@import "../_shared/scss/variables";
@import "../_shared/scss/mixins";
@import "../_shared/scss/counter";
@import "../_shared/scss/button";

.wp-block-rrze-elements-counter-row {
    .fauCustomResearchHighlights {
        display: initial;

        .block-editor-block-list__layout {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: 0.15rem;
        }
    }

    dl {
        padding: 0.5rem 1rem;
    }

    dt {
        .fau-counter-editor-data.rrze-counter-normal {
            font-size: var(--wp--preset--font-size--normal, 1rem);
            font-weight: normal;
        }

        .fau-counter-editor-data.rrze-counter-medium {
            font-size: var(--wp--preset--font-size--medium, 1.25rem);
            font-weight: normal;
        }

        .fau-counter-editor-data.rrze-counter-large {
            font-size: var(--wp--preset--font-size--large, 4rem);
            font-weight: normal;
        }
    }

    .fau-counter-data {
        font-weight: bold;
    }

    .rrze--counter-element-container {
        padding: 0;
    }
}
