@import "../_shared/scss/variables";
@import "../_shared/scss/mixins";
@import "../_shared/scss/counter";
@import "../_shared/scss/button";

.wp-block-rrze-elements-counter-row {
    .fauCustomResearchHighlights {
        display: initial;

        .block-editor-block-list__layout {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: 0.15rem;
        }
    }
}