$fau-length-05x: 0.125rem;   /* 2px */
$fau-length-1x: 0.25rem;     /* 4px */
$fau-length-2x: 0.5rem;      /* 8px */
$fau-length-3x: 0.75rem;     /* 12px */
$fau-length-4x: 1rem;        /* 16px */
$fau-length-5x: 1.25rem;     /* 20px */
$fau-length-6x: 1.5rem;      /* 24px */
$fau-length-8x: 2rem;        /* 32px */
$fau-length-10x: 2.5rem;     /* 40px */
$fau-length-12x: 3rem;       /* 48px */
$fau-length-14x: 3.5rem;     /* 56px */
$fau-length-16x: 4rem;       /* 64px */
$fau-length-20x: 5rem;       /* 80px */
$fau-length-24x: 6rem;       /* 96px */
$fau-length-30x: 7.5rem;     /* 120px */
