$fau-media-mobile-portrait: "(min-width: 393px)";      /* Mobile portrait */
$fau-media-mobile-landscape: "(min-width: 768px)";      /* Mobile landscape */
$fau-media-desktop-small: "(min-width: 1440px)";     /* Desktop small */
$fau-media-desktop-large: "(min-width: 1920px)";    /* Desktop Large */
