/* Opacity Variables */
$fau-opacity-0: 0;
$fau-opacity-10: 0.1;
$fau-opacity-20: 0.2;
$fau-opacity-30: 0.3;
$fau-opacity-40: 0.4;
$fau-opacity-50: 0.5;
$fau-opacity-60: 0.6;
$fau-opacity-70: 0.7;
$fau-opacity-80: 0.8;
$fau-opacity-90: 0.9;
$fau-opacity-100: 1;
